<div class="page-header">
  <h3>Show viewing form</h3>
  <%= link_to edit_product_episode_viewing_form_path(@product, @episode, @viewing_form), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
</div>

<dl class="dl-horizontal">
</dl>
