<p>Greetings from PGI,</p>
<br>
<p>
  New attachment for <em>'<%= @product.english_title %>'</em> was created. Please log in <%= link_to 'here', product_marketing_material_url(@product, @attachment.marketing_material) %> to view it.
</p>
<br>
<p>Best Regards,</p>
<p>Alaraby Administration Team (PGI Alaraby TV)</p>
<p><%= image_tag(attachments['alaraby_logo.png'].url) %></p>
