<% breadcrumb :root %>
<div class="control-panel pull-right">
  <%= link_to products_path, class: 'btn btn-success btn-sm' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Products
  <% end %>
</div>
<div class="home-header">
  <h2>Welcome to PGI</h2>
</div>

<p>This is a Programme Gathering Interface.<br>An application to gather scheduling and marketing information.</p>
  

