<div class="header">
  <h3>Show viewing_form</h3>
  <%= link_to edit_product_viewing_form_path(@product, @viewing_form), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
</div>
