<p>Greetings from PGI,</p>
<br>
<p>New episode was created, please login <%= link_to 'here', product_episode_url(@product, @episode) %> to see details</p>
<br>
<p>Best Regards,</p>
<p>Alaraby Administration Team (PGI Alaraby TV)</p>
<p><%= image_tag(attachments['alaraby_logo.png'].url) %></p>

