<p>Greetings from PGI,</p>
<br>
<p>Product <em>'<%= @product.english_title %>'</em> was updated, please login <%= link_to 'here', product_url(@product) %> to see details</p>
<br>
<p>Best Regards,</p>
<p>Alaraby Administration Team (PGI Alaraby TV)</p>
<p><%= image_tag(attachments['alaraby_logo.png'].url) %></p>
